:root {
    --color-principal:#000000;
    --color-secundario:#ffffff;
    --font-principal:'Dawning of a New Day', cursive;
    --font-secundaria:'EB Garamond', serif;
}
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.icono {
    width: 20px;
}
h1 {
    font-family: 'Dawning of a New Day', cursive !important;
}
.boton {
    background-color: var(--color-principal);
    padding: 10px 20px;
    color: var(--color-secundario);
    text-decoration: none;
    font-size: 16px;
}
.boton:hover {
    color: var(--color-principal);
    padding: 10px 20px;
    background-color: var(--color-secundario);
    border: 1px solid var(--color-principal);
    text-decoration: none;
}
header {
   width: 100%;
   height: 100vh; 
   text-align: center;
}
.background-img {
    width: 100%;
    height: 70vh; 
    background: url("./img/0.jpg") repeat  100%; 
    color: white; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    animation-duration: 5s;
    animation-name: texto;
}
.jumbotron {
    background: none !important;
  }
.inicio {
    padding: 40px;
    height: 30vh;
    animation-duration: 5s;
    animation-name: texto;

}
@keyframes texto {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.background-img img {
    width: 100%;
}
h3 {
    font-family: 'Dawning of a New Day', cursive !important;
}


.texto-dedicatoria {
    padding: 40px;
    text-align: center;
    font-size: 1.2rem;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    margin: 40px 60px;
}
.countdown {
    background-color: var(--color-principal);
    color: var(--color-secundario);
    text-align: center;
    padding: 16px 0;
}
.countdown p {
    padding: 0;
    margin: 0;
}

.audio {
    width: 100%;
    padding: 26px 0 0 0;
    display: flex;
    justify-content: center;
}

.ubicacion {
    height: auto;
    padding: 40px;
    margin: 20px;
    text-align: center;
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.ubicacion img {
    width: 64px;
}
.lovestory {
    width: 100%;
    height: auto;
    background-color: var(--color-principal);
    color: var(--color-secundario);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.lovestory-text {
    padding: 28px;
    text-align: justify;
}
.lovestory-title {
    display: flex;
    align-items: center;
    font-size:30px;
    font-family: var(--font-principal);
}

.lovestory-img {
    background-image: url(img/2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:360px ;
}
.regalos {
    width: 100%;
    height: auto;
    padding: 40px;
    text-align: center;
}
.regalos-box {
    padding: 60px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}


.end {
    background-color: var(--color-principal);
    padding: 20px 0;
    color: white;
    display: grid;
    place-items: center;
    border-bottom: 2PX SOLID var(--color-secundario);
}

.end .nombres {
    font-family: 'Dawning of a New Day', cursive;
    font-size: 40px;
    

}


footer  .contenido{
    display: grid;
    grid-template-columns:1fr 1fr;
    height: auto;
    background-color: var(--color-principal);
    color: var(--color-secundario);
    padding: 40px;  
    

}


.mesaderegalos {
    width: 100%;
    height: 40vh;
    background-color: var(--color-secundario);
    color: var(--color-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20PX ;
    text-align: center;
    

    
}
.mesaderegalos p {
    padding: 10px ;
    margin: 0;
}
.mesaderegalosh2 {
    font-family: var(--font-secundaria) ;     
    font-size: 30PX;    
    
}
.regalo {
    padding-bottom: 8px;
}
#contenedor {
    width: auto;
    height: 60px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenedor > div {
    display: flex;
}

span#enlace {
    color: var(--color-secundario);
    font-size: 1em;
    padding: 8px ;
    text-align: center;
    background-color: var(--color-principal);

    border: 1px solid var(--color-secundario);
    margin-top: 10px;

}

button#copiador {
    background-color: var(--color-principal);
    color: white;
    border: none;
    padding: 8px;    
    font-size: 1em;
    display: inline-block;
    cursor: pointer;
    border: 1px solid var(--color-secundario);
    margin-top: 10px;
}


footer  .contenido p {
    padding: 0;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    padding: auto;
   
}
ul a {
    color: var(--color-secundario);
}
ul a:hover {
    color:#cec6c6;
}
@media (max-width: 660px) {
    .lovestory {
        grid-template-columns:1fr;
    }
    .ubicacion {
        gap: 40px;
        grid-template-columns: 1fr;
    }
   
    footer  .contenido{
        grid-template-columns:1fr;
        height: auto; 
        text-align: center;
        
    }
    ul {
        justify-content: center;
    }

    

}